###################################################
# Lite PHPSTAN configuration for Github CI
# or any Phpfastcache contributing user
###################################################
parameters:
    treatPhpDocTypesAsCertain: false
    excludePaths:
        - lib/Phpfastcache/Drivers/*/Driver.php
        - lib/Phpfastcache/Drivers/*/Config.php
    ignoreErrors:
        - '#PHPDoc tag @(.*)#' # (Really) Annoying PHPDoc tag issues...
