/*======================================================================*\
|| #################################################################### ||
|| # vBulletin 4.2.1
|| # ---------------------------------------------------------------- # ||
|| # All code in this file is ©2000-2013 vBulletin Solutions Inc.     # ||
|| # This file may not be redistributed in whole or significant part. # ||
|| # ---------------- VBULLETIN IS NOT FREE SOFTWARE ---------------- # ||
|| # http://www.vbulletin.com | http://www.vbulletin.com/license.html # ||
|| #################################################################### ||
\*======================================================================*/

body {
	background: #EEEEEE;
}
body, li, td, div {
	font: 11px verdana, arial, sans-serif;
}
ul {
	list-style-type: none;
}
li {
	font-size: 10pt;
}
i {
	color: silver;
}
p.largefont {
	text-align: left;
	font-size: 10pt;
	font-weight: bold;
}
div.pagebody {
	background: white;
	padding:16px;
	border: 1px solid silver;
}
div.pda {
	float: right;
	background: #F9F9F9;
	border-left: 1px solid silver;
	border-right: 1px solid silver;
	border-bottom: 1px solid silver;
	padding: 4px;
}
div.post {
	border: 1px solid silver;
	padding: 1px;
	margin-bottom: 16px;
	clear:both;
}
div.posttop {
	padding: 4px;
	background: #EEEEEE;
}
div.username {
	font-weight: bold;
	width: auto;
	float: left;
}
div.date {
	width: auto;
	text-align: right;
}
div.posttext {
	padding: 4px;
	background: #F9F9F9;
}
div.highlight {
	padding: 4px;
	background: #FFFFCC;
}
span.small {
	font-size: 10px;
}
#content {
	margin-bottom: 8px;
	border: 1px solid silver;
	padding: 4px;
	padding-left: 24px;
        clear:both;
}
#navbar {
	background: #F9F9F9;
	border: 1px solid silver;
	padding: 4px;
}
#pagenumbers {
	text-align: center;
	margin-bottom: 4px;
}
#copyright {
	text-align: center;
}
hr {
	visibility: hidden;
	display: none;
}
div.floatcontainer {
	display: block;
	float: left;
	margin-bottom: 5px;
	width: 100%;
}
/*************************************************/
/* ADS ARCHIVE */
#ad_archive_above_content1 {
        float: left;
        width: 48%;
        padding:5px 0px;
}
#ad_archive_above_content2 {
        float: left;
        width: 48%;
        padding:5px 0px;
}
#ad_archive_below_content {
        width:100%;
        padding:5px 0px;
}
/*======================================================================*\
|| ####################################################################
|| # Downloaded: 16:55, Fri Jul 19th 2013
|| # CVS: $RCSfile$ - $Revision: 35470 $
|| ####################################################################
\*======================================================================*/
