/* line 14, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 3, ../scss/_pygments.scss */
.hll {
  background-color: #ffffcc;
}

/* line 4, ../scss/_pygments.scss */
.c {
  color: #999988;
  font-style: italic;
}

/* Comment */
/* line 5, ../scss/_pygments.scss */
.err {
  color: #a61717;
  background-color: #e3d2d2;
}

/* Error */
/* line 6, ../scss/_pygments.scss */
.k {
  font-weight: bold;
}

/* Keyword */
/* line 7, ../scss/_pygments.scss */
.o {
  font-weight: bold;
}

/* Operator */
/* line 8, ../scss/_pygments.scss */
.cm {
  color: #999988;
  font-style: italic;
}

/* Comment.Multiline */
/* line 9, ../scss/_pygments.scss */
.cp {
  color: #999999;
  font-weight: bold;
}

/* Comment.Preproc */
/* line 10, ../scss/_pygments.scss */
.c1 {
  color: #999988;
  font-style: italic;
}

/* Comment.Single */
/* line 11, ../scss/_pygments.scss */
.cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}

/* Comment.Special */
/* line 12, ../scss/_pygments.scss */
.gd {
  color: #000000;
  background-color: #ffdddd;
}

/* Generic.Deleted */
/* line 13, ../scss/_pygments.scss */
.ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 14, ../scss/_pygments.scss */
.gr {
  color: #aa0000;
}

/* Generic.Error */
/* line 15, ../scss/_pygments.scss */
.gh {
  color: #999999;
}

/* Generic.Heading */
/* line 16, ../scss/_pygments.scss */
.gi {
  color: #000000;
  background-color: #ddffdd;
}

/* Generic.Inserted */
/* line 17, ../scss/_pygments.scss */
.go {
  color: #888888;
}

/* Generic.Output */
/* line 18, ../scss/_pygments.scss */
.gp {
  color: #555555;
}

/* Generic.Prompt */
/* line 19, ../scss/_pygments.scss */
.gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 20, ../scss/_pygments.scss */
.gu {
  color: #aaaaaa;
}

/* Generic.Subheading */
/* line 21, ../scss/_pygments.scss */
.gt {
  color: #aa0000;
}

/* Generic.Traceback */
/* line 22, ../scss/_pygments.scss */
.kc {
  font-weight: bold;
}

/* Keyword.Constant */
/* line 23, ../scss/_pygments.scss */
.kd {
  font-weight: bold;
}

/* Keyword.Declaration */
/* line 24, ../scss/_pygments.scss */
.kn {
  font-weight: bold;
}

/* Keyword.Namespace */
/* line 25, ../scss/_pygments.scss */
.kp {
  font-weight: bold;
}

/* Keyword.Pseudo */
/* line 26, ../scss/_pygments.scss */
.kr {
  font-weight: bold;
}

/* Keyword.Reserved */
/* line 27, ../scss/_pygments.scss */
.kt {
  color: #445588;
  font-weight: bold;
}

/* Keyword.Type */
/* line 28, ../scss/_pygments.scss */
.m {
  color: #bb8844;
}

/* Literal.Number */
/* line 29, ../scss/_pygments.scss */
.s {
  color: #009999;
}

/* Literal.String */
/* line 30, ../scss/_pygments.scss */
.na {
  color: #008080;
}

/* Name.Attribute */
/* line 31, ../scss/_pygments.scss */
.nb {
  color: #999999;
}

/* Name.Builtin */
/* line 32, ../scss/_pygments.scss */
.nc {
  color: #445588;
  font-weight: bold;
}

/* Name.Class */
/* line 33, ../scss/_pygments.scss */
.no {
  color: #008080;
}

/* Name.Constant */
/* line 34, ../scss/_pygments.scss */
.ni {
  color: #800080;
}

/* Name.Entity */
/* line 35, ../scss/_pygments.scss */
.ne {
  color: #990000;
  font-weight: bold;
}

/* Name.Exception */
/* line 36, ../scss/_pygments.scss */
.nf {
  color: #990000;
  font-weight: bold;
}

/* Name.Function */
/* line 37, ../scss/_pygments.scss */
.nn {
  color: #555555;
}

/* Name.Namespace */
/* line 38, ../scss/_pygments.scss */
.nt {
  color: #000080;
}

/* Name.Tag */
/* line 39, ../scss/_pygments.scss */
.nv {
  color: #008080;
}

/* Name.Variable */
/* line 40, ../scss/_pygments.scss */
.ow {
  font-weight: bold;
}

/* Operator.Word */
/* line 41, ../scss/_pygments.scss */
.w {
  color: #bbbbbb;
}

/* Text.Whitespace */
/* line 42, ../scss/_pygments.scss */
.mf {
  color: #bb8844;
}

/* Literal.Number.Float */
/* line 43, ../scss/_pygments.scss */
.mh {
  color: #bb8844;
}

/* Literal.Number.Hex */
/* line 44, ../scss/_pygments.scss */
.mi {
  color: #bb8844;
}

/* Literal.Number.Integer */
/* line 45, ../scss/_pygments.scss */
.mo {
  color: #bb8844;
}

/* Literal.Number.Oct */
/* line 46, ../scss/_pygments.scss */
.sb {
  color: #009999;
}

/* Literal.String.Backtick */
/* line 47, ../scss/_pygments.scss */
.sc {
  color: #009999;
}

/* Literal.String.Char */
/* line 48, ../scss/_pygments.scss */
.sd {
  color: #009999;
}

/* Literal.String.Doc */
/* line 49, ../scss/_pygments.scss */
.s2 {
  color: #009999;
}

/* Literal.String.Double */
/* line 50, ../scss/_pygments.scss */
.se {
  color: #009999;
}

/* Literal.String.Escape */
/* line 51, ../scss/_pygments.scss */
.sh {
  color: #009999;
}

/* Literal.String.Heredoc */
/* line 52, ../scss/_pygments.scss */
.si {
  color: #009999;
}

/* Literal.String.Interpol */
/* line 53, ../scss/_pygments.scss */
.sx {
  color: #009999;
}

/* Literal.String.Other */
/* line 54, ../scss/_pygments.scss */
.sr {
  color: #808000;
}

/* Literal.String.Regex */
/* line 55, ../scss/_pygments.scss */
.s1 {
  color: #009999;
}

/* Literal.String.Single */
/* line 56, ../scss/_pygments.scss */
.ss {
  color: #009999;
}

/* Literal.String.Symbol */
/* line 57, ../scss/_pygments.scss */
.bp {
  color: #999999;
}

/* Name.Builtin.Pseudo */
/* line 58, ../scss/_pygments.scss */
.vc {
  color: #008080;
}

/* Name.Variable.Class */
/* line 59, ../scss/_pygments.scss */
.vg {
  color: #008080;
}

/* Name.Variable.Global */
/* line 60, ../scss/_pygments.scss */
.vi {
  color: #008080;
}

/* Name.Variable.Instance */
/* line 61, ../scss/_pygments.scss */
.il {
  color: #bb8844;
}

/* Literal.Number.Integer.Long */
/* line 17, ../scss/_base.scss */
body {
  line-height: inherit;
  color: #777777;
  font-family: georgia, serif;
}

/* line 24, ../scss/_base.scss */
a {
  text-decoration: underline;
  color: #777;
}
/* line 27, ../scss/_base.scss */
a:hover {
  text-decoration: none;
  background-color: #87c6d0;
  color: white;
  text-shadow: none;
}
/* line 14, ../scss/_base.scss */
a.orange:hover {
  background-color: #f3a271;
}
/* line 14, ../scss/_base.scss */
a.green:hover {
  background-color: #7acf6f;
}
/* line 14, ../scss/_base.scss */
a.red:hover {
  background-color: #f08080;
}
/* line 14, ../scss/_base.scss */
a.teal:hover {
  background-color: #75c9ab;
}
/* line 14, ../scss/_base.scss */
a.purple:hover {
  background-color: #db98d7;
}
/* line 14, ../scss/_base.scss */
a.yellow:hover {
  background-color: #e0e562;
}

/* line 42, ../scss/_base.scss */
h1, h2, h3, h4, h5, h6 {
  display: inline-block;
  font-weight: normal;
  letter-spacing: -0.06em;
  background-color: #eee;
  margin-bottom: 15px;
}

/* line 50, ../scss/_base.scss */
h1 {
  font-size: 30px;
}

/* line 51, ../scss/_base.scss */
h2 {
  font-size: 25px;
}

/* line 52, ../scss/_base.scss */
h3 {
  font-size: 20px;
}

/* line 53, ../scss/_base.scss */
h4 {
  font-size: 15px;
}

/* line 54, ../scss/_base.scss */
h5 {
  font-size: 10px;
}

/* line 55, ../scss/_base.scss */
h6 {
  font-size: 5px;
}

/* line 57, ../scss/_base.scss */
pre {
  font-family: monaco, monospace;
  font-size: 0.8em;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  padding: 5px 10px;
  overflow: auto;
}

/* line 66, ../scss/_base.scss */
code {
  font-family: monaco, monospace;
}

/* line 3, ../scss/minimal.scss */
div.context {
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  padding: 10px;
  margin: 5px;
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid #eee;
  z-index: 1000;
  text-align: center;
  transform: translateZ(1000px);
  -webkit-transform: translateZ(1000px);
  -moz-transform: translateZ(1000px);
  -ms-transform: translateZ(1000px);
  -o-transform: translateZ(1000px);
}
/* line 20, ../scss/minimal.scss */
div.context.dark {
  color: white;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid #777;
}
/* line 25, ../scss/minimal.scss */
div.context.dark a {
  color: #f08080;
}
/* line 29, ../scss/minimal.scss */
div.context.dark a:hover {
  color: white;
}
/* line 34, ../scss/minimal.scss */
div.context strong {
  font-weight: bold;
}
/* line 38, ../scss/minimal.scss */
div.context p.header, div.context p.description {
  margin-bottom: 10px;
}
/* line 42, ../scss/minimal.scss */
div.context p.description {
  font-size: 0.9em;
  text-indent: 0.5em;
  text-align: left;
}
/* line 48, ../scss/minimal.scss */
div.context.less p.description {
  display: none;
}
/* line 52, ../scss/minimal.scss */
div.context div.social {
  margin-bottom: 5px;
}
/* line 56, ../scss/minimal.scss */
div.context a.context-control {
  display: block;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
}
