
body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#screen {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    cursor: pointer;
    font-size: 25px;
}

#screen.not-supported {
    overflow: auto;
    cursor: default;
}

#screen.dev div {
    border: 1px solid #aaa;
}

div.fallback-video {
    display: none;
    width: 640px;
    float: right;
    margin-right: 50px;
}

#screen.not-supported div.fallback-video{
    display: block;
}

div.fallback-video p {
    font-size: 125%;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
}

#cursor {
    position: absolute;
    border: 0px dashed #aaa;
    height: 100px;
    width: 100px;
    z-index: -1;
    cursor: pointer;
}

#screen.not-supported #cursor {
    display: none;
}

#rain {
    position: relative;
    top: 100px;
    width: 450px;
    height: 300px;
    margin: 0 auto;
    color: #669BB3;
}

#screen.not-supported #rain {
    display: none;
}

#rain div {
    position: absolute;
    display: inline-block;
    background: rgba(103, 149, 181, 0.2);
}

div.flavor-wrapper {
    position: absolute;
    display: block;
    top: 240px;
    width: 90%;
}

#screen.not-supported div.flavor-wrapper {
    display: none;
}

div.flavor {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    color: #ddd;
}

div.flavor h1 {
    background: none;
    font-size: 200%;
    text-align: center;
}

div.flavor p {
    margin-bottom: 20px;
}

div.flavor p.drop-counter {
    font-size: 80%;
}

#cloud {
    position: relative;
    top: -300px;
    width: 500px;
    height: 200px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 30px;
}

#screen.not-supported #cloud {
    display: none;
}

#cloud div {
    position: absolute;
   /* background: rgba(0,0,0,0.05); */
    background: rgba(166, 166, 166,0.05);
}

div.controls {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px 15px;
    text-align: center;
    font-size: 20px;
    border-top: 1px solid #eee;
    background: rgba(255,255,255,0.75);
}

#screen.not-supported div.controls {
    display: none;
}

div.controls.hidden {
    display: none;
}



