/*======================================================================*\
|| #################################################################### ||
|| # vBulletin 4.2.1
|| # ---------------------------------------------------------------- # ||
|| # All code in this file is ©2000-2013 vBulletin Solutions Inc.     # ||
|| # This file may not be redistributed in whole or significant part. # ||
|| # ---------------- VBULLETIN IS NOT FREE SOFTWARE ---------------- # ||
|| # http://www.vbulletin.com | http://www.vbulletin.com/license.html # ||
|| #################################################################### ||
\*======================================================================*/

.vB_DatePicker td {
	padding: 1px;
	text-align: center;
	width: 15px;
}

.vB_DatePicker .tcat {
	padding: 1px;
	text-align: center;
}

.vB_DatePicker .today {
	padding: 0px;
	border: solid 1px red;
}

/*======================================================================*\
|| ####################################################################
|| # Downloaded: 16:55, Fri Jul 19th 2013
|| # CVS: $RCSfile$ - $Revision: 15827 $
|| ####################################################################
\*======================================================================*/