/*======================================================================*\
|| #################################################################### ||
|| # vBulletin 4.2.1
|| # ---------------------------------------------------------------- # ||
|| # Copyright ©2000-2013 vBulletin Solutions Inc. All Rights Reserved. ||
|| # This file may not be redistributed in whole or significant part. # ||
|| # ---------------- VBULLETIN IS NOT FREE SOFTWARE ---------------- # ||
|| # http://www.vbulletin.com | http://www.vbulletin.com/license.html # ||
|| #################################################################### ||
\*======================================================================*/

/* Definitions we expect */
form {
	margin: 0px;
}

label {
	cursor: default;
}

.normal {
	font-weight: normal;
}

.inlineimg {
	vertical-align: middle;
}

.underline {
	text-decoration: underline;
}

.vbmenu_hilite * {
	cursor: pointer;
}

/* Auto-clearing of floats */
.floatcontainer:after, .block_row:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.floatcontainer, .block_row {
	display: inline-block;
}
/* IE-Mac hide \*/
* html .floatcontainer, * html .block_row {
	height: 1%;
}
.floatcontainer, .block_row {
	display: block;
}
/* End IE-Mac hide */

/* Inline H1 final navbit */
.navbar h1 {
	margin: 0px;
	font-size: 100%;
	font-weight: bold;
	display: inline;
}

/*======================================================================*\
|| ####################################################################
|| # Downloaded: 16:55, Fri Jul 19th 2013
|| # CVS: $RCSfile$ - $Revision: 15827 $
|| ####################################################################
\*======================================================================*/