/***************************************************/
/*   Main containers                               */
/***************************************************/

body {
	/*
	background: #E9E9E9 url('../images/bg/brick.png');
	  http://phpfastcache.com/images/dark-bg.png
	   background: #E9E9E9 url('http://phpfastcache.com/images/dark-bg.png');
	*/

    background: #E9E9E9 url('../images/bg/brick.png');
	color: #666;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Arial;
	font-size: 62.5%;
}

#rootContainer {
	background: #FFF url('../images/root-bg-bottom.jpg') bottom repeat-x;
	border-right: 10px solid #1871B5;
	-moz-box-shadow: 0 3px 8px #CCC;
	-webkit-box-shadow: 0 3px 8px #CCC;
	box-shadow: 0 3px 8px #CCC;
	-moz-border-radius: 0 100px 0 0;
	-webkit-border-radius: 0 100px 0 0;
	border-radius: 0 100px 0 0;
	margin: 65px auto 0;
	min-height: 450px;
	overflow: hidden;
	position: relative;
	width: 900px;
	behavior: url('scripts/CSS3PIE/PIE.htc');
}

#rootContainerLayer {
	background: url('../images/root-bg2.jpg') top repeat-x;
	-moz-border-radius: 0 150px 0 0;
	-webkit-border-radius: 0 150px 0 0;
	border-radius: 0 150px 0 0;
	height: 80px;
	position: relative;
	top: 0;
	width: 890px;
	behavior: url('scripts/CSS3PIE/PIE.htc');
}

img#ie8Corner {
	display: none;
	position: absolute;
	right: -20px;
}

/***************************************************/
/*   Home page                                     */
/***************************************************/

#jpreBar {
	background: #1871B5 url('../images/skillbar-score-bg.jpg') !important;
}

#photoBox {
	float: left;
	height: 450px;
	margin-left: -1002px; /* Position for initial page load. Default is -751px; */
	width: 250px;
}

#homePage {
	float: left;
	min-height: 230px;
	margin: 130px 0 40px 250px;
	margin-top: 25px; /* Position for initial page load. Default is 130px as above */
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	padding: 0 25px;
	position: relative;
	width: 450px;
}

#homePage > h1 {
	font-weight: bold;
}

#homePage > h1 span {
	font-weight: normal;
}

#intro {
	margin-top: 15px;
	opacity: 0; /* Opacity for initial page load. Default is 1; */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

/***************************************************/
/*   Social network icons                          */
/***************************************************/

#socialIcons {
	list-style: none;
	margin: 25px 0 0 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
	filter: alpha(opacity=0);					
	opacity: 0; 
	position: relative;
	left: 20px;
	bottom: 0;
}

#socialIcons li {
	float: left;
	margin-right: 6px;
}

#socialIcons a {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
	filter: alpha(opacity=0);
	opacity: 0; 
	position: relative;
	float: left;
}

/***************************************************/
/*   Profile page                                  */
/***************************************************/

/* Container */
#profilePage {
	display: none;
	float: left;
	margin: -170px 0 30px 0;
	margin-top: -320px\0/ !important; /* For IE8, 9 only */
	min-height: 230px;
	position: relative;
	width: 720px;
}

/* Skills panel */
#skills {
	float: left;
	width: 260px;
}

.skillBox, .expBox {
	margin-bottom: 35px;
}

.skillBox ul, .expBox ul {
	font-family: 'Pontano Sans', Arial;
	margin: 15px 0 0 20px;
	list-style: none;
}

.skillBox li {
	font-size: 1.4em;
	margin-bottom: 10px;
}

span.skillBar, span.skillBar span {
	display: block;
	height: 8px;
	position: relative;
	width: 220px;
	behavior: url('scripts/CSS3PIE/PIE.htc');
}

span.skillBar {
	background: #F4F4F4;
	border-bottom: 2px solid #888;
	border-top: 1px solid #DDD;
	margin-left: 1px;
}

span.skillScoreWrapper span {
	background: #078DC5 url('../images/skillbar-score-bg.jpg') left top repeat-x;
	margin-top: 0;
}

/* Experiences panel */
#experiences {
	float: left;
	margin: 0 0 0 35px;
	width: 400px;
}

#experiences h3 {
	padding-left: 0;
}

.expBox ul {
	margin: 15px 0 0 0;
}

.expBox li {
	margin-bottom: 25px;
}

.expBox p {
	font-size: 1.3em;
	margin: 7px 0;
}

.profileDownload li {
	float: left;
	font-size: 1.3em;
	margin-right: 10px;
	position: relative;
	z-index: 0;
}

.profileDownload a {
	background-color: #666;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #FFF;
	padding: 5px 15px;
	behavior: url('scripts/CSS3PIE/PIE.htc');
}

.profileDownload a:hover {
	background-color: #1871B5;
}

.profileDownload a:active {
	box-shadow: inset 1px 1px 1px #555;
}

/***************************************************/
/*   Portfolio page                                */
/***************************************************/

/* Container */
#portfolioPage {
	display: block;
	float: left;
	margin: -170px 0 30px 0;
	margin-top: -320px\0/ !important; /* For IE8, 9 only */
	position: relative;
	width: 690px;
}

.hide {
	height: 0;
	visibility: collapse;
}

.portfolioCategory p {
	font-size: 1.3em;
	margin: 7px 0;
}

/* Portfolio list stlyes */
.portfolioItems {
	font-family: 'Pontano Sans', Arial;
	list-style: none;
	margin: 17px 0 0 22px;
	overflow: hidden;
	width: 100%;
}

.portfolioItems li {
	float: left;
	min-height: 140px;
	margin: 0 17px 0 0;
	width: 210px;
}

.portfolioItems li span {
	display: block;
	font-size: 1.3em;
}

.portfolioItems li.lastItem {
	border: 0;
}

.portfolioItems li a {
	float: left;
}

.portfolioItems li img {
	border-bottom: 3px solid #888;
	border-top: 1px solid #CCC;
	height: 130px;
	width: 210px;
}

.portfolioItems li div.description {
	float: left;
	margin: 10px 5px 0;
	overflow: hidden;
}

.portfolioItems li.blank {
	background: url('../images/portfolio/blank-item.jpg') top center no-repeat;
	margin: 4px 0 0 4px;
}

/***************************************************/
/*   Contact page                                  */
/***************************************************/

/* Container */
#contactPage {
	display: block;
	float: left;
	margin: -164px 0 30px 0;
	margin-top: -320px\0/ !important; /* For IE8, 9 only */
	position: relative;
	width: 690px;
}

#contactPage h3 {
	margin-bottom: 20px;
	padding: 0 0 6px 0;
}

#contactPage p {
	font-size: 1.3em;
	margin: 10px 0;
}

/* Map */
#googleMap {
	background: #CCC;
	border-top: 1px solid #CCC;
	border-bottom: 3px solid #888;
	float: left;
	height: 550px;
	margin-right: 30px;
	width: 330px;
}

/* Contact info and form */
#contactInfo, #contactForm {
	float: left;
	padding-bottom: 30px;
	width: 330px;
}

#contactInfo span {
	display: block;
}

#contactInfo p ul {
	list-style: none;
}

#contactForm {
	padding-bottom: 0;
	position: relative;
	z-index: 0;
}

#contactForm label {
	display: block;
}

#contactForm p {
	margin-bottom: 15px;
}

#contactForm input[type="text"], #contactForm textarea {
	background: #F3F3F3;
	border-top: 1px solid #CCC;
	border-bottom: 3px solid #888;
	color: #333;
	font-family: Arial;
	font-size: 1.3em;
	margin-top: 3px;
	padding: 5px;
	width: 318px;
	behavior: url('scripts/CSS3PIE/PIE.htc');
}

#contactForm input[type="submit"] {
	background-color: #666;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: none;
	color: #FFF;
	padding: 5px 15px;
	behavior: url('scripts/CSS3PIE/PIE.htc');
}

#contactForm input[type="submit"]:hover {
	background-color: #1871B5;
	cursor: pointer;
}

#contactForm input[type="submit"]:active {
	box-shadow: inset 1px 1px 1px #555;
}

#sendingStatus {
	padding: 5px 20px 10px 50px;
	position: absolute;
	top: 30px;
	left: 30px;
}

#sendingStatus.success {
	background: url('../images/success.jpg') left center no-repeat;
}

#sendingStatus.fail {
	background: url('../images/fail.jpg') left center no-repeat;
}


/***************************************************/
/*   Navigation menu                               */
/***************************************************/

/* Container */
#navBox {
	background: url('../images/menu-bg3.jpg') right center no-repeat;
	background-position: 0 29px;
	font-family: 'Century Gothic', 'Pontano Sans';
	height: 270px;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
	filter: alpha(opacity=0);
	opacity: 0;
	padding: 9px 0 0 0;
	right: -12px;
	position: absolute;
	top: 117px;
	width: 205px;
}

#navActivator {
	background: #333;
	display: none;
	height: 250px;
	left: 0;
	opacity: 0;
	position: absolute;
	width: 150px;
}

#nav {
	font-size: 17px;
	height: 230px;
	list-style: none;
	left: 40px;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
	filter: alpha(opacity=0);
	opacity: 0;
	position: absolute;
	top: 45px;
	width: 165px;
}

#nav li {
	margin-top: 0;
	line-height: 46px;
}

#nav li.activeMenu {
	background: #FFF;
}

#nav li#homeItem {
	margin-top: -2px;
}

#nav li#profileItem {
	margin-top: 1px;
}

#nav li#portfolioItem {
	margin-top: 1px;
}

#nav li#contactItem {
	margin-top: 1px;
}

#nav a {
	background: url('../images/menu-icons.jpg') left center no-repeat;
	color: #333;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; 
	filter: alpha(opacity=50);
	opacity: .5;
	padding: 3px 0 3px 37px;
	padding-bottom: 4px\0/ !important; /* For IE9 only */
}

#nav a.activeMenu {
	color: #1871B5;
	font-weight: normal;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
	filter: alpha(opacity=100);
	opacity: 1;
}

#nav a#homeLink {
	background-position: 0 0;
}

#nav a#homeLink.activeMenu {
	background-position: 0 -106px;
}

#nav a#profileLink {
	background-position: 0 -27px;
}

#nav a#profileLink.activeMenu {
	background-position: 0 -133px; 
}

#nav a#portfolioLink {
	background-position: 0 -53px;
}

#nav a#portfolioLink.activeMenu {
	background-position: 0 -159px; 
}

#nav a#contactLink {
	background-position: 0 -79px;
}

#nav a#contactLink.activeMenu {
	background-position: 0 -185px; 
}

/***************************************************/
/*   Copyright                                     */
/***************************************************/

#copyright {
	color: #444;
	font-family: 'Pontano Sans', 'Lucida Sans Unicode', 'Lucida Grande', Arial;
	font-size: 1.3em;
	margin: 20px 0 50px;
	text-align: center;
}

#copyright span {
	display: block;
}

/***************************************************/
/*   Share classes                                 */
/***************************************************/

a.link {
	border-bottom: 1px dotted #666;
}

a.link:hover {
	color: #1871B5;
}

p.address, p.phone, p.email, p.website {
	background: url('../images/contact-icons.gif') left center no-repeat;
	padding-left: 30px;
}

p.address {
	background-position: 0 -14px;
	min-height: 21px;
}

p.phone {
	background-position: 0 -35px;
	min-height: 19px;
}

p.email {
	background-position: 0 3px;
	min-height: 14px;
}

p.website {
	background-position: 0 -54px;
	min-height: 18px;
}
