/***************************************************/
/*   These styles applied to only IE8              */
/***************************************************/

#nav li {
	line-height: 20px;
	padding-bottom:  10px;
}

#nav a {
	display: inline-block;
}

#nav li#homeItem {
	margin-top: 7px;
}

#nav li#profileItem {
	margin-top: 10px;
}

#nav li#portfolioItem {
	margin-top: 10px;
}

#nav li#contactItem {
	margin-top: 10px;
}
